<div class="container lead ">
    <div class="row p-5 d-flex justify-content-center align-content-center align-items-center">
        <div class="col-md-6 col-sm-12">
            <img src="assets/img/body.svg" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-md-6 col-sm-12  text-center text-light">
            <h1>
                ARE YOU HANGRY ?
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore voluptates dolore earum. Laboriosam
                ab debitis rem culpa dignissimos, adipisci placeat soluta fugiat, odio optio, iure iste natus error
                iusto pariatur.
            </p>
            <button class="btn btn-warning">
                ORDER HERE 
            </button>
        </div>
    </div>
</div>